@import url('https://fonts.googleapis.com/css2?family=Iceland&family=Oxanium:wght@200..800&family=Quicksand:wght@300..700&display=swap');
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-family: "Iceland", serif;
  font-weight: 400;
  font-style: normal;
  

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body{
  height: 90vh;
  font-family: "Iceland", serif;
  font-weight: 400;
  font-style: normal;
}

